.galleryWrapper {
  --position-offset: 1px;
  --touch-offset: 0;
  --item-width: 100%;
  --gap: 25vw;
  --active-gap: 1px;
  --active: 0;
  --duration: 0;
  --controls-scale: 1;
  margin: 0;
  padding: 0 16px;
  position: relative;
  width: 100%;
}

.gallery {
  display: grid;
  grid-template-areas: 'item';
  padding-top: 16px;
  position: relative;
}

.controls {
  --display-type: flex;
  align-items: center;
  display: var(--display-type);
  flex-direction: row;
  height: 0;
  justify-content: space-between;
  left: 50%;
  max-width: 100%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 50;
}

.controls > * {
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.2));
  position: relative;
}

.controls > *:first-child {
  transform: translateX(calc(-150% - var(--controls-spread, 0px))) scale(var(--controls-scale));
}

.controls > *:nth-child(2) {
  transform: translateX(calc(100% + var(--controls-spread, 0px))) scale(var(--controls-scale));
}

.item {
  --display-type: block;
  --x: calc(
    (var(--touch-offset, 0) * 1px) + var(--position-offset) + (var(--active-gap) * var(--side)) +
      (var(--item-width) + var(--gap)) * (var(--i) - var(--selected))
  );
  --delay: calc(0s * var(--center-offset, 0));
  display: var(--display-type);
  grid-area: item;
  margin: 0 auto;
  transform: translateX(var(--x));
  width: var(--item-width);
  z-index: calc(var(--total) - var(--center-offset));
}

.dragging .item {
  transition: none !important;
}

@media screen and (min-width: 640px) {
  .galleryWrapper {
    --controls-scale: 1;
  }
}

@media screen and (min-width: 1024px) {
  .galleryWrapper {
    --controls-scale: 1;
  }
}
