.dripRoot[data-drip-hovered='true'] .dripHoverContent {
  opacity: 1;
}

.dripHoverContent {
  animation: splat-drip-leave calc(1.8s * var(--drip-speed-factor)) cubic-bezier(0.77, 0, 0.175, 1)
    forwards;
  animation-fill-mode: forwards;
  background-color: var(--hover-bg-color);
  clip-path: var(--drip-out-start);
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
}

.dripFill {
  display: none;
}

.dripFrame {
  border-radius: inherit;
  box-shadow: inset 0 0 0 2px var(--hover-text-color);
  inset: 0;
  position: absolute;
}

@media (hover: hover) {
  .dripRoot:hover .dripHoverContent {
    animation: splat-drip-enter calc(1.8s * var(--drip-speed-factor))
      cubic-bezier(0.77, 0, 0.175, 1) forwards;
  }
}

@keyframes splat-drip-enter {
  0% {
    clip-path: var(--drip-in-start);
  }

  100% {
    clip-path: var(--drip-in-end);
  }
}

@keyframes splat-drip-leave {
  0% {
    clip-path: var(--drip-out-start);
  }

  100% {
    clip-path: var(--drip-out-end);
  }
}
