.root {
  --button-group-radius: 0.5rem;
  --button-group-separator-width: 2px;

  align-items: center;
  border-radius: var(--button-group-radius);
  display: inline-flex;
  flex-wrap: nowrap;
  gap: 0;
  justify-content: flex-start;
  width: fit-content;
}

.root[data-orientation='vertical'] {
  align-items: stretch;
  flex-direction: column;
}

.root[data-full-width='true'] {
  width: 100%;
}

.item {
  --button-radius: 0;

  min-width: 0;
}

.root[data-orientation='horizontal'] .item:first-of-type {
  --button-radius: var(--button-group-radius) 0 0 var(--button-group-radius);
}

.root[data-orientation='horizontal'] .item:last-of-type {
  --button-radius: 0 var(--button-group-radius) var(--button-group-radius) 0;
}

.root[data-orientation='horizontal'] .item:only-of-type {
  --button-radius: var(--button-group-radius);
}

.root[data-orientation='horizontal'] .item:not(:first-of-type) {
  box-shadow: inset var(--button-group-separator-width) 0 0 var(--color-true-black);
}

.root[data-orientation='vertical'] .item:first-of-type {
  --button-radius: var(--button-group-radius) var(--button-group-radius) 0 0;
}

.root[data-orientation='vertical'] .item:last-of-type {
  --button-radius: 0 0 var(--button-group-radius) var(--button-group-radius);
}

.root[data-orientation='vertical'] .item:only-of-type {
  --button-radius: var(--button-group-radius);
}

.root[data-orientation='vertical'] .item:not(:first-of-type) {
  box-shadow: inset 0 var(--button-group-separator-width) 0 var(--color-true-black);
}

.root[data-full-width='true'] .item {
  flex: 1 1 0;
}

.root[data-orientation='vertical'][data-full-width='true'] .item {
  width: 100%;
}
