.cardGrid.cardGrid {
  display: flex;
  flex-direction: column;
  gap: calc(var(--gutter-width, 16px) * 1);
  padding-bottom: 0;
}

.cardGridGroup {
  display: grid;
  gap: calc(var(--gutter-width)*1);
  grid-template-columns: 1fr;
  height: 100%;
}

@media screen and (min-width: 640px) {
  .cardGridGroup {
    grid-template-columns: 1fr 1fr;
  }
}
