.tagCard {
  padding: 10% 5% 5%;
  position: relative;
  transform: rotate(var(--rotation));
  width: 100%;
}

.tagCardBackground {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.tagCardInner {
  height: 100%;
  position: relative;
  text-align: center;
}
